{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Artists{% endblock %}

{% block content %}
  <h1>Artists ({{users|length}})</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        <a href="{{ user.get_absolute_url }}">
		  <img src="{% thumbnail user.profile.photo|default:'img/sky.png' 70x70 crop="smart" %}">
        </a>
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
    
{% endblock %}
